
{% set first_name =  "Sir/Madam" %}

{% if customer.first_name %}
    {% set first_name =  customer.first_name | title %}
{% endif %}


{{ 3.14 }}
{{ "Hello" }}
{{ True }}
{{ False }}
{{ 42 }}

{% some_call(test, test2) %}

{% macro t2(param1, param2) %}

    {{test}}

{% endmacro %}


{{ t2() }}
